## Fake News Detection

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
true_df = pd.read_csv('True.csv')
fake_df = pd.read_csv('Fake.csv')

In [3]:
true_df['label'] = 0

In [4]:
fake_df['label'] = 1

In [5]:
true_df.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [6]:
fake_df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
true_df = true_df[['text','label']]
fake_df = fake_df[['text','label']]

In [8]:
dataset = pd.concat([true_df , fake_df])

In [9]:
dataset.shape

(44898, 2)

### Null values

In [10]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [11]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [12]:
true_df.shape # true news

(21417, 2)

In [13]:
fake_df.shape # fake news

(23481, 2)

### Shuffle or Resample

In [14]:
dataset = dataset.sample(frac = 1)

In [15]:
dataset.head(20)

                                                    text  label
3657   WASHINGTON (Reuters) - The man who led Preside...      0
12056  HERE ARE KRAUTHAMMER S REMARKS BUT THE FULL VI...      1
17124  GENNEVILLIERS, France (Reuters) - In Gennevill...      0
9974    NEW YORK (Reuters) - The top contenders in bo...      0
7103   There are a lot of things people can forgive i...      1
14957  There s so much to this effort to close GITMO ...      1
14410  Obama has shown favoritism towards the Muslim ...      1
15601   I think we need somebody who knows the milita...      1
4183   WASHINGTON (Reuters) - President Donald Trump’...      0
7715    (This October 24 story has been refiled to sa...      0
5684   WASHINGTON (Reuters) - The Iran-related sancti...      0
1306   While the Trump administration is up to its co...      1
20226  (Reuters) - The Iranian Revolutionary Guards a...      0
18334  LONDON (Reuters) - British business leaders re...      0
17871  Kaya Jones, aka Chrystal Neria, the former mem...      1
16363   Here are six trivia questions to see how much...      1
14899  President Obama on ISIS: They re  a bunch of k...      1
7620   When thinking about who you d likely want as t...      1
21551  Transgender activist and bully, Hanna Zoey Tur...      1
5419   As conservatives rushed to find excuses for Me...      1

In [16]:
import nltk

In [17]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
from wordcloud import WordCloud

ModuleNotFoundError: No module named 'wordcloud'

In [ ]:
dataset.text.values

In [ ]:
text_combined = " ".join(dataset.text.values)

In [ ]:
len(text_combined)

In [ ]:
text_combined[:1000]

In [ ]:
word_cloud = WordCloud().generate_from_text(text_combined)

In [ ]:
?WordCloud

In [ ]:
plt.figure()
plt.imshow(word_cloud)
plt.show()

In [ ]:
word_cloud = WordCloud(width=600,height=600,background_color='white',max_words=200,random_state = 30722,stopwords = None).\
generate_from_text(text_combined)

In [ ]:
plt.figure(figsize=[6,6])
plt.imshow(word_cloud)
plt.show()

In [ ]:
all_terms = []
fdist = {}
all_terms = text_combined.split(" ")
for word in all_terms:
    fdist[word] = fdist.get(word,0) + 1

In [ ]:
fdist["said"]

In [ ]:
fdist["US"]

In [ ]:
fdist["according"]

In [ ]:
fdist["Republican"]

In [ ]:
freq = {"words":list(fdist.keys()),"freq":list(fdist.values())}
df_dist = pd.DataFrame(freq)

In [ ]:
df_dist.head(10)

In [ ]:
%matplotlib inline
df_dist.sort_values(ascending=False, by="freq").head(50).\
plot.bar(x= "words", y= "freq",figsize=(20,5))

In [ ]:
dataset.text[:10]

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
print(all_terms[:20])

In [ ]:
len(set(all_terms))

In [ ]:
from string import punctuation
from nltk.corpus import stopwords

In [ ]:
stop_nltk = stopwords.words("english")

In [ ]:
stop_updated = stop_nltk + list(punctuation) +["...",'....'] + ["said", "now","The","would","said.","also","one"]

In [ ]:
text_updated1 = [word for word in all_terms if word not in stop_updated and len(word) > 2]

In [ ]:
from nltk.probability import FreqDist

In [ ]:
fdist = FreqDist(text_updated1)
fdist

In [ ]:
fdist.plot(30,cumulative=False)
plt.show()

In [ ]:
text_combinedupdated = " ".join(text_updated1)

In [ ]:
word_cloud = WordCloud(width=600,height=600,background_color='white',max_words=50,random_state = 30722,stopwords = None, collocations = False).\
generate_from_text(text_combinedupdated)
plt.figure(figsize=[6,6])
plt.imshow(word_cloud)
plt.show()

In [ ]:
len(set(text_updated1))

In [ ]:
from nltk.stem import WordNetLemmatizer
lemm = WordNetLemmatizer()

In [ ]:
text_updated_lemm = [ lemm.lemmatize(word) for word in text_updated1]

In [ ]:
print(len(set(text_updated_lemm)))

In [ ]:
# Define function that takes in a raw string, returns a clean string
# - Tokenize, lower case, remove stop words, stem, stitch back to string
def clean_txtlemm(sent):
    tokens = word_tokenize(sent.lower())
    stemmed = [lemm.lemmatize(term, pos = 'v')  for term in tokens if term not in stop_updated and len(term) > 1] 
    res = " ".join(stemmed)
    return res

In [ ]:
dataset['clean_reviewlemm'] = dataset.text.apply(clean_txtlemm)

In [ ]:
dataset.head()

In [ ]:
dataset.isnull().sum()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [ ]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
train_X , test_X , train_y , test_y = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [ ]:
vec_train = vectorizer.fit_transform(train_X)

In [ ]:
vec_train = vec_train.toarray()

In [ ]:
vec_test = vectorizer.transform(test_X).toarray()

In [ ]:
vec_train.shape

In [ ]:
vec_test.shape

In [ ]:
train_data = pd.DataFrame(vec_train , columns=vectorizer.get_feature_names())
test_data = pd.DataFrame(vec_test , columns= vectorizer.get_feature_names())

In [ ]:
train_data.shape

In [ ]:
test_data.shape

## Multinomial NB

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
clf = MultinomialNB()

In [ ]:
clf.fit(train_data, train_y)
predictions  = clf.predict(test_data)

In [ ]:
print(classification_report(test_y , predictions))

Now predict on both train set

In [ ]:
predictions_train = clf.predict(train_data)
print(classification_report(train_y , predictions_train))

In [ ]:
accuracy_score(train_y , predictions_train)

In [ ]:
accuracy_score(test_y , predictions)